.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    font-weight: bold;
    color: #000;
    border: none;
    background: #4CAF50;
    font-weight: bold;
    font-size: 1em;
    height: 2em;
    border-radius: 30px;
    width: 100px;
    padding: 0!important;
}

.Danger {
    color: #009688;
    border: none;
    background: white;
    font-weight: bold;
    font-size: 1em;
    padding: 1em;
}

.Switch{
    color: #009688;
    border: none;
    background: #FFEB3B;
    font-weight: bold;
    font-size: .7em;
    padding: 0 .5em !important;
    border-radius: 9px;
    width: 150px;
}