.Input {
    width: 100%;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    
}

.InputElement {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 2em;
    font-size: 16px;
    padding: 0 .5em;
    font-weight: 200;
    font-family: Montserrat;
    color: #1f1f1f;
}

.InputElement:focus{
    outline: none;
    background-color: #ccc;
}

/* .Invalid {
    background-color: #FDA49A;
} */

.ValidationError {
    color: red;
    margin-top: -5px;
    text-align: left;
    font-size: 11px;
    font-weight: 600;
    display: block;
} 